<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link rel="stylesheet" href="/static/dist/bundle.css">
</head>

<body>

    <nav class="navbar  navbar-light bg-color-deep-purple-900">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h3 class="color-yellow-500">APP</h3>
            </a>

            <ul class="nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/flatpickr">
                        <span class="lead color-yellow-500">Flatpickr</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fullcalendar">
                        <span class="lead color-yellow-500">Fullcalendar</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-sm-5">

        <div class="my-sm-4">
            <h4>Flatpickr</h4>
        </div>
        <div class="my-sm-4">

        </div>

    </div>

    <script src="/static/dist/bundle.js"></script>
</body>

</html>